.App {
  text-align: center;
}

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    overflow-x: hidden;
    padding-top: 20px;
    list-style: none;
  }

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-right: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 4em;
  cursor: pointer;
  width: 700px
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  margin: 1em
}

/* Links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
  background-color: #ddd;
  transition: 0.1s;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.single-poem-card {
  width: 700px;
  height: 700px;
  padding: 50px;
  border: 2px solid grey;
  box-sizing: border-box;
  position: relative;
  align-self: flex-end;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  overflow: scroll;
  margin-bottom: 2em
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
  margin-bottom: 2em
}

.landing-page {
  background-color: black;
  position: absolute;
  background: url('https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1554919465/shape/mentalfloss/istock-157382617.jpg') no-repeat center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}

.saying {
  justify-content: center;
}

.log-in-button {
  color: olive;
  background: #fff;
  border: 2px solid olive;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 16px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
}

.sign-up-button {
  color: olive;
  background: #fff;
  border: 1px solid olive;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
}

.input-form {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 1.2em;
  color: olive;
  font-weight: bold;
  text-align: center;
}

#login-signup-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 6%;
  padding: 70px 0;
  text-align: center;
}

.create-poem-form {
  display: inline-block;
  padding: 5px;
  overflow: visible;
  padding: 70px 0;
  text-align: center;
  border-radius: 3px;
  max-width: 450px;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

.create-poem-form span{
  float: center;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
	width: 400px;
	color: grey;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #f
}

.create-poem-form fieldset{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid grey;
  padding: 20px;
  background: #F5F5F5;
  box-shadow: inset 0px 0px 15px #F5F5F5;
  -moz-box-shadow: inset 0px 0px 15px #F5F5F5;
  -webkit-box-shadow: inset 0px 0px 15px #F5F5F5;
}

.create-poem-form fieldset legend{
  color: grey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #F8F8F8;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F5F5F5;
  -moz-box-shadow:-0px -1px 2px #F5F5F5;
  -webkit-box-shadow:-0px -1px 2px #F5F5F5;
  font-weight: normal;
  font-size: 12px;
}
.create-poem-form input, textarea{
  width:250px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid grey;
	outline: none;
	color: grey;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #F5F5F5;
	-moz-box-shadow: inset 1px 1px 4px #F5F5F5;
	-webkit-box-shadow: inset 1px 1px 4px #F5F5F5;
	background: white;
	width:50%;
}
.create-poem-form input[type=text]{
  margin-left: 10px;
}

.form-style-3  input[type=submit]{
	background: white;
	border: 1px solid #F5F5F5;
	padding: 5px 15px 5px 15px;
	color: white;
	box-shadow: inset -1px -1px 3px #F5F5F5;
	-moz-box-shadow: inset -1px -1px 3px #F5F5F5;
	-webkit-box-shadow: inset -1px -1px 3px #F5F5F5;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
}

.required{
	color:red;
	font-weight:normal;
}

.favorite-card {
  background-color: white;
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 15px;
  border-radius: 10px;
  margin: 2em;
  overflow: scroll;
}

/* Dropdown Button */
.dropbtn-tag {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn-tag:hover, .dropbtn:focus {
  background-color: black;
}

/* The search field */
#myInputTag {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInputTag:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown-tag {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-tag {
  /* display: none; */
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-tag a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-tag a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.searchDropdown {
  width: 300px;
  padding: 20px;
}
